:host {
  display: inline-flex;
  width: auto;

  .mat-mdc-chip {
    width: auto;
    border-radius: var(--cv-radius-pill);
    justify-content: center;
    transition: transform var(--cv-transition), box-shadow var(--cv-transition);
  }

  .evolution-chip__action {
    display: flex;
    overflow-x: hidden;
  }

  .mdc-evolution-chip__text-label {
    text-overflow: ellipsis;
  }
}
