<div class="about-me">
  <div class="about-me__bio">
    @if (isLoading() && !bioParagraphs().length) {
      <div class="about-me__skeleton" aria-hidden="true">
        @for (line of skeletonLines; track $index) {
          <span class="cv-skeleton cv-skeleton--text"></span>
        }
      </div>
    } @else {
      @for (paragraph of bioParagraphs(); track $index) {
        <p>{{ paragraph }}</p>
      }
    }
  </div>
  <aside class="about-me__aside">
    <div class="about-me__badges">
      @for (tech of technologies(); track tech.id) {
        <span class="about-me__badge">{{ tech.title }}</span>
      }
    </div>
    @if (note()) {
      <p class="about-me__note">{{ note() }}</p>
    }
    @if (hobbies()) {
      <p class="about-me__hobbies">{{ hobbies() }}</p>
    }
  </aside>
</div>
