<p>
  Занимаюсь программированием с 2015 года. Мой основной стек Typescript/JavaScript, React, Redux.
</p>
<p>
  Продолжительное время занимался программированием станков, это направление мне очень нравилось, но из-за отсутствия
  возможности дальнейшего развития в 2018 году сменил вектор с производства на IT.
  Выбрал для себя на тот момент самый интересный для себя путь - Web разработка.
</p>
<div>

  <p>

    Помимо JavaScript, изучал Python (Django), C++, Haskell.
  </p>
  <span>
    Люблю принцыпы Clean Architecture и функциональное программирование.
  </span>

</div>

<p>

  Мои хобби: спорт, игра на барабанах и электрогитаре.
</p>
