@if (works$ | async ; as works){
@for (work of works ; track work.id) {
<div class="work-item">
  <p class="organization-name">
    {{work.name}}
  </p>
  <p class="technologies-title">Что использовал в работе:</p>
  <div class="chips-flow">
    @for (technology of work.technologies ; track technology.id) {
    <app-technology-item
      [desciption]="technology.desciption"
      [tagIDs]="technology.tags"
      [title]="technology.title"
    >
    </app-technology-item>
    }
  </div>
  <p class="what-i-did">Что я делал:</p>
  @for (whatIDoItem of work.whatIDid ; track whatIDoItem) {
  <p>
    {{whatIDoItem}}
  </p>
  }
</div>
}
}
