<app-scroll-up></app-scroll-up>
<div class="flex flex-col h-screen mat-app-background app-wrapper">
  <app-header></app-header>
  <app-section-nav [items]="navItems"></app-section-nav>
  <main class="grow app-main">
    @for (sectionItem of sectionsMap; track sectionItem.sectionId) {
      <app-section-wrapper
        [sectionId]="sectionItem.sectionId"
        [sectionTitle]="sectionItem.titleSection"
        [isHero]="sectionItem.isHero ?? false"
      >
        <ng-container *ngComponentOutlet="sectionItem.Component"></ng-container>
      </app-section-wrapper>
    }
  </main>
  <app-footer></app-footer>
  <app-technology-drawer></app-technology-drawer>
  <app-snack-bar></app-snack-bar>
</div>
