<app-scroll-up></app-scroll-up>
<app-header (isModeSwitched)="switchMode($event)"></app-header>
<div class="flex flex-col h-screen mat-app-background app-wrapper">
  <main class="grow">
    <mat-accordion
      [displayMode]="'flat'"
      multi
    >
      @for(sectionItem of sectionsMap; track $index){
      <mat-expansion-panel
        hideToggle
        expanded
        [disabled]="$index===0"
      >
        @if(sectionItem.titleSection){
        <mat-expansion-panel-header>
          <mat-panel-title
            appMargins
            class="panel-title"
          > {{sectionItem.titleSection}} </mat-panel-title>
        </mat-expansion-panel-header>
        }
        <div appMargins>
          <ng-container *ngComponentOutlet="createComponent($index)"></ng-container>
        </div>
      </mat-expansion-panel>
      }
    </mat-accordion>
  </main>
  <app-footer></app-footer>
  <app-technology-drawer></app-technology-drawer>
  <app-snack-bar></app-snack-bar>
</div>
