<app-navbar>
  <div appMargins class="header-content">
    <app-gitlab-link class="header-content__github"></app-gitlab-link>
    <a mat-icon-anchor matTooltip="Связаться со мной в Telegram" href={{links.telegram.href}} target="_blank">
      <img width="18px" src="../../../assets/icons/telegram.svg" alt={{links.telegram.label}}>
    </a>

    <a href={{links.whatsapp.href}} target="_blank" matTooltip="Связаться со мной в Whatsapp"><img width="18px"
        src="../../../assets/icons/whatsapp.svg" alt={{links.whatsapp.label}}></a>

    <a mat-anchor matTooltip="Напишите на мой Email" href="mailto:{{links.email.href}}"
      target="_blank">{{links.email.label}}</a>

    <button
      class="header-content__download"
      mat-icon-button
      matTooltip="Скачать CV в PDF"
      [disabled]="downloadCvService.isDownloading()"
      (click)="downloadCvService.downloadCV()"
    >
      @if (downloadCvService.isDownloading()) {
      <mat-spinner diameter="18"></mat-spinner>
      } @else {
      <mat-icon aria-hidden="false" aria-label="download CV" fontIcon="download"></mat-icon>
      }
    </button>

    <app-contact-me class="header-content__contact"></app-contact-me>
    <div class="toggler-wrapper">
      <mat-icon aria-hidden="false" aria-label="download CV" fontIcon="light_mode"></mat-icon>
      <mat-slide-toggle class="example-margin" (change)="onDarkModeSwitch($event)" [checked]="themeService.isDarkMode()"
        [disabled]="disabled"></mat-slide-toggle>
      <mat-icon aria-hidden="false" aria-label="download CV" fontIcon="nightlight"></mat-icon>
    </div>
  </div>
</app-navbar>